<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->

<mat-toolbar color="accent" role="heading">    
  <span>Wel-come to {{title}}</span>    
  <span class="demo-toolbar"> </span>      
</mat-toolbar>    
  
<mat-card>    
  <!-- Title of an Card -->    
  <mat-card-title class="content-center">    
Fill Form to See the Weather Detail
  </mat-card-title>    
  
  <mat-card-content>    
  <form [formGroup]="weatherForm" (ngSubmit)="onFormSubmit(weatherForm.value)">  
          <table>    
              <tr >    
                  <td > 
                    <mat-form-field>
                        <mat-select formControlName="country" placeholder="Select Country" >    
                          <mat-option>-- Select Any --</mat-option>    
                          <mat-option *ngFor="let country of countryList"value="{{country}}">{{country}}</mat-option>    
                        </mat-select>    
                        <mat-error>  
                            <!-- <span *ngIf="!weatherForm.get('country').valid && weatherForm.get('country').touched">Please select any Country !!!</span>   -->
                        </mat-error>  
                    </mat-form-field>   
                  </td>    
              </tr><br>   
              <tr>    
                  <td>    
                    <mat-form-field>
                      <mat-select formControlName="metric" placeholder="Select Metric" >    
                        <mat-option>-- Select Any --</mat-option>    
                        <mat-option *ngFor="let item of metrics"value="{{item.value}}">{{item.name}}</mat-option>    
                      </mat-select> 
                      <mat-error>  
                          <!-- <span *ngIf="!weatherForm.get('metric').valid && weatherForm.get('metric').touched">Please select any metric !!!</span>   -->
                      </mat-error>  

                    </mat-form-field>       
                  </td>    
              </tr><br>    
              <tr>    
                  <td colspan="2">    
                      <mat-form-field class="demo-full-width">    
                          <input formControlName="startDate" matInput [matDatepicker]="picker" placeholder="Start Date">    
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                          <mat-datepicker touchUi="true" #picker></mat-datepicker>  
                          <mat-error>  
                              <!-- <span *ngIf="!regiForm.get('startDate').valid && regiForm.get('startDate').touched">Please select any Date !!!</span>   -->
                          </mat-error>  
                      </mat-form-field>    
                  </td>    
              </tr>    
              <tr>    
                <td colspan="2">    
                  <mat-form-field class="demo-full-width">    
                      <input formControlName="endDate" matInput [matDatepicker]="picker2" placeholder="End Date">    
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>    
                      <mat-datepicker touchUi="true" #picker2></mat-datepicker>    
                      <mat-error>  
                          <!-- <span *ngIf="!regiForm.get('endDate').valid && regiForm.get('endDate').touched">Please select any Date !!!</span>   -->
                      </mat-error>  
                  </mat-form-field>    
                </td>    
                   
              </tr>    
              <tr>    
                  <td colspan="2" class="content-center">    
                      <button mat-raised-button color="primary">Submit</button>&nbsp;    
                      <button mat-raised-button color="accent">Clear</button>    
                  </td>  
              </tr>    
          </table>    
      </form>    
  </mat-card-content>    
</mat-card>  
<mat-card class="">    
  <!-- Title of an Card -->    
  <mat-card-title class="content-center">    
      Graphical Presentation     
  </mat-card-title>    
  
  <mat-card-content>    
    <highcharts-chart 
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateFlag" 
    style="width: 100%; height: 330px; display: block;"
  ></highcharts-chart>
<!-- <div [chart]="chart"></div> -->
</mat-card-content>    
</mat-card>  